@font-face{
    font-family: roboto;
    font-weight: lighter;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face{
    font-family: roboto;
    font-weight: bolder;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face{
    font-family: robotoSlab;
    font-weight: 500;
    src: url(../fonts/RobotoSlab-Bold.ttf);
}
@font-face{
    font-family: robotoSlab;
    font-weight: 900;
    src: url(../fonts/RobotoSlab-Black.ttf);
}
@font-face{
    font-family: robotoSlab;
    src: url(../fonts/RobotoSlab-Light.ttf);
}
@font-face{
    font-family: roboto;
    font-weight: normal;
    src: url(../fonts/Roboto-Regular.ttf);
}
