/*Import other files*/
@font-face {
  font-family: roboto;
  font-weight: lighter;
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: roboto;
  font-weight: bolder;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: robotoSlab;
  font-weight: 500;
  src: url(../fonts/RobotoSlab-Bold.ttf);
}

@font-face {
  font-family: robotoSlab;
  font-weight: 900;
  src: url(../fonts/RobotoSlab-Black.ttf);
}

@font-face {
  font-family: robotoSlab;
  src: url(../fonts/RobotoSlab-Light.ttf);
}

@font-face {
  font-family: roboto;
  font-weight: normal;
  src: url(../fonts/Roboto-Regular.ttf);
}

/*General Rules*/
body {
  background-color: #1d1e20;
  color: #fff;
  font-family: roboto;
}

body a {
  text-decoration: none;
  color: orange;
}

header {
  z-index: 5;
  background-color: #141416;
  /*Kasnije u JS treba da dodam klasu .main-desktop koja stilizuje heder ya desktop verziju a uklonim klasu .main-res*/
}

header.responsive {
  padding: 10px 20px;
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.responsive img.logo {
  width: 170px;
}

header.responsive img.res {
  width: 25px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
}

header.responsive img.res:hover {
  width: 27px;
}

@-webkit-keyframes xanimshow {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes xanimshow {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

header.responsive img.x-anim-show {
  -webkit-animation: xanimshow 0.8s;
          animation: xanimshow 0.8s;
}

header.main-res {
  background-color: #292929;
  position: fixed;
  left: -270px;
  top: 0;
  width: 270px;
  height: 100vh;
  padding: 0 20px;
  overflow-y: auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header.main-res .preheader {
  border-bottom: 1px solid #535353;
  display: -ms-grid;
  display: grid;
  padding: 15px 0;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 15px;
}

header.main-res .preheader .info-bar {
  line-height: 130%;
  position: relative;
}

header.main-res .preheader .info-bar p.crypto-name {
  font-weight: bolder;
  font-size: 0.9em;
}

header.main-res .preheader .info-bar p.crypto-data {
  color: #797b80;
  font-size: 0.8em;
}

header.main-res .preheader .info-bar span {
  color: #13C24E;
}

header.main-res .preheader .info-bar:after {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header.main-res .preheader .info-bar:nth-of-type(1):after {
  background-image: url(../images/coins-icons/bitcoin-btc-logo.png);
}

header.main-res .preheader .info-bar:nth-of-type(2):after {
  background-image: url(../images/coins-icons/ethereum-eth-logo.png);
}

header.main-res .preheader .info-bar:nth-of-type(3):after {
  background-image: url(../images/coins-icons/stellar-xlm-logo.png);
}

header.main-res .preheader .info-bar:nth-of-type(4):after {
  background-image: url(../images/coins-icons/bitcoin-cash-bch-logo.png);
}

header.main-res .preheader .info-bar:nth-of-type(5):after {
  background-image: url(../images/coins-icons/monero-xmr-logo.png);
}

header.main-res .preheader .info-bar:nth-of-type(6):after {
  background-image: url(../images/coins-icons/cardano-ada-logo.png);
}

header.main-res .main-header {
  font-weight: 500;
  padding: 30px 0;
}

header.main-res .main-header img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 230px;
  padding-bottom: 30px;
}

header.main-res .main-header nav {
  min-width: 100%;
}

header.main-res .main-header nav li {
  padding: 13px 0;
}

header.main-res .main-header nav a {
  color: #fff;
}

header.show {
  left: 0;
}

header.hide {
  left: -270px;
}

header.main-desktop {
  background-color: blue;
}

footer {
  background-color: #141416;
  padding-top: 80px;
}

footer .wrapper .top {
  padding-bottom: 30px;
  border-bottom: 1px solid #797b80;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

footer .wrapper .top img {
  width: 150px;
}

footer .wrapper .top p.desc {
  font-size: 0.8em;
  line-height: 170%;
}

footer .wrapper .top .desc {
  padding-bottom: 20px;
}

footer .wrapper .top .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 220px;
}

footer .wrapper .top .newsletter p.bold {
  font-family: robotoSlab;
  font-weight: 500;
  font-size: 1.3em;
}

footer .wrapper .top .newsletter p.silver {
  font-size: 0.8em;
  color: #7c7c7c;
}

footer .wrapper .top .newsletter input {
  height: 35px;
  background-color: transparent;
  border: 1px solid #444444;
  padding-left: 10px;
}

footer .wrapper .top .newsletter input::-webkit-input-placeholder {
  font-weight: 500;
  color: #838080;
}

footer .wrapper .top .newsletter input:-ms-input-placeholder {
  font-weight: 500;
  color: #838080;
}

footer .wrapper .top .newsletter input::-ms-input-placeholder {
  font-weight: 500;
  color: #838080;
}

footer .wrapper .top .newsletter input::placeholder {
  font-weight: 500;
  color: #838080;
}

footer .wrapper .bottom {
  padding: 20px 0;
  font-size: 0.75em;
}

footer .wrapper .bottom p {
  width: 100%;
  text-align: center;
  color: #797b80;
  line-height: 140%;
}

footer .wrapper .bottom p a {
  color: #FFAA00;
}

.wrapper {
  padding: 0 20px;
  max-width: 420px;
  margin: 0 auto;
}

p.sec-desc {
  width: 100%;
  text-align: center;
  font-family: robotoSlab;
  font-weight: 500;
  color: #aaaaaa;
}

p.sec-heading {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-family: robotoSlab;
  font-weight: 500;
  font-size: 1.7em;
  margin-bottom: 50px;
  line-height: 130%;
}

p.sec-heading:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 60px;
  background-color: #FFAA00;
}

p.sec-white-desc {
  font-size: 0.9em;
  line-height: 180%;
  padding-bottom: 40px;
}

p.sec-gray-desc {
  font-size: 0.9em;
  line-height: 150%;
  color: #797b80;
}

section {
  margin: 60px 0;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #1d1e20;
  z-index: 99;
}

.preloader.preOff {
  -webkit-animation: offer 5s linear 1;
          animation: offer 5s linear 1;
}

@-webkit-keyframes offer {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes offer {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*Current Page*/
section.home-top {
  position: relative;
  margin-top: 0;
}

section.home-top #particles-js {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -5;
  display: none;
}

section.home-top .ht-main .main-text {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

section.home-top .ht-main .main-text h1 {
  position: relative;
  padding-top: 30px;
  font-size: 2.2em;
  font-family: robotoSlab;
  line-height: 120%;
}

section.home-top .ht-main .main-text h1:after {
  content: '';
  height: 100%;
  width: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 2px solid #FFAA00;
}

section.home-top .ht-main .main-text p {
  padding: 30px 0;
  line-height: 200%;
}

section.home-top .ht-main .main-text .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.home-top .ht-main .main-text .buttons a {
  padding: 13px 25px;
  border: 2px solid #0048a8;
  border-radius: 30px;
  font-weight: bolder;
  font-size: 0.85em;
  color: #fff;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

section.home-top .ht-main .main-text .buttons a i {
  padding-right: 8px;
}

section.home-top .ht-main .main-text .buttons a.left {
  background-color: #0048a8;
}

section.home-top .ht-main .main-text .buttons a.left:hover {
  background-color: transparent;
}

section.home-top .ht-main .main-text .buttons a.right:hover {
  background-color: #0048a8;
}

section.home-top .ht-main .timer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
  margin: 50px 0;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/misc/timerback.png);
  border-radius: 3px;
}

section.home-top .ht-main .timer-container p.timer-h {
  font-size: 1.2em;
  font-family: robotoSlab;
  font-weight: 500;
}

section.home-top .ht-main .timer-container .timer-main {
  margin: 20px 0;
  width: 260px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

section.home-top .ht-main .timer-container .timer-main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 10px 0;
}

section.home-top .ht-main .timer-container .timer-main div p {
  font-size: 2.4em;
  font-weight: bolder;
  padding-bottom: 5px;
  color: #2e2e2e;
}

section.home-top .ht-main .timer-container .timer-main div span {
  color: #c3c1ce;
  font-size: 0.8em;
  color: #3d3d3d;
}

section.home-top .ht-main .timer-container a {
  padding: 15px 30px;
  color: #fff;
  background-color: #0048a8;
  border: 2px solid transparent;
  border-radius: 30px;
  margin: 10px 0 30px 0;
  font-size: 0.8em;
  font-family: robotoSlab;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

section.home-top .ht-main .timer-container a:hover {
  background-color: transparent;
  border: 2px solid #0048a8;
}

section.home-top .ht-main .timer-container .payments {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.home-top .ht-main .timer-container .payments .pay {
  width: 65px;
  height: 37px;
  border: 1px solid rgba(255, 255, 255, 0.192);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px;
  background-color: #1b1b1b;
  cursor: pointer;
}

section.home-top .ht-main .timer-container .payments .pay img {
  height: 100%;
  width: auto;
}

section.about .about-sq {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-bottom: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/misc/container-back.jpg);
}

section.about .about-sq .a-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
  text-align: center;
}

section.about .about-sq .a-square i {
  font-size: 2.2em;
}

section.about .about-sq .a-square p.head {
  padding: 18px 0;
  font-family: robotoSlab;
  font-weight: 900;
  letter-spacing: 0.2px;
}

section.about .about-sq .a-square p.desc {
  font-size: 0.8em;
}

section.about .about-inner {
  min-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/misc/stmx_bg.jpg);
  background-size: 380%;
  background-position: left;
}

section.about .about-inner .text p.about-inner-heading {
  margin-bottom: 70px;
  font-family: robotoSlab;
  font-weight: 500;
  font-size: 0.95em;
  line-height: 200%;
}

section.about .about-inner .text p.about-inner-desc {
  margin-bottom: 40px;
  font-size: 0.9em;
  line-height: 170%;
}

section.about .about-inner .text .icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 11px;
}

section.about .about-inner .text .icons i {
  color: #FFAA00;
  padding-right: 10px;
}

section.about .about-inner .video {
  display: none;
  border: 1px solid yellow;
}

section.testimonials {
  height: 170px;
  padding: 30px 0;
  border-top: 2px solid rgba(83, 83, 83, 0.459);
  border-bottom: 2px solid rgba(83, 83, 83, 0.459);
  overflow: hidden;
}

section.testimonials .wrapper {
  height: 100%;
  width: 100%;
  /*
        display: flex;
        
        overflow-x: auto;
        scroll-snap-type: x mandatory;

        scroll-behavior: smooth;
        */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

section.testimonials .wrapper::-webkit-scrollbar {
  height: 1px;
  width: 1px;
}

section.testimonials .wrapper .partner {
  height: 100%;
  min-width: 50%;
  scroll-snap-align: start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
}

section.testimonials .wrapper .partner:nth-of-type(1) {
  background-image: url(../images/testimonials/logo-partner-1.png);
}

section.testimonials .wrapper .partner:nth-of-type(2) {
  background-image: url(../images/testimonials/logo-partner-2.png);
}

section.testimonials .wrapper .partner:nth-of-type(3) {
  background-image: url(../images/testimonials/logo-partner-3.png);
}

section.testimonials .wrapper .partner:nth-of-type(4) {
  background-image: url(../images/testimonials/logo-partner-4.png);
}

section.testimonials .wrapper .partner:nth-of-type(5) {
  background-image: url(../images/testimonials/logo-partner-5.png);
}

section.solutions .wrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

section.solutions .wrapper .mobile-app {
  height: 650px;
}

section.solutions .wrapper .mobile-app .absolute-radio {
  position: absolute;
  width: 100%;
  left: 0;
  /* isto kao i roditeljski element visina */
  height: 650px;
  z-index: -5;
}

section.solutions .wrapper .mobile-app .absolute-radio .center {
  position: relative;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-animation: ripple 2000ms infinite linear;
          animation: ripple 2000ms infinite linear;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 30px #1d1e20, 0 0 0 32px rgba(105, 105, 105, 0.699), 0 0 0 50px #1d1e20, 0 0 0 52px rgba(105, 105, 105, 0.699), 0 0 0 80px #1d1e20, 0 0 0 82px rgba(105, 105, 105, 0.699), 0 0 0 100px #1d1e20, 0 0 0 102px rgba(105, 105, 105, 0.699);
            box-shadow: 0 0 0 30px #1d1e20, 0 0 0 32px rgba(105, 105, 105, 0.699), 0 0 0 50px #1d1e20, 0 0 0 52px rgba(105, 105, 105, 0.699), 0 0 0 80px #1d1e20, 0 0 0 82px rgba(105, 105, 105, 0.699), 0 0 0 100px #1d1e20, 0 0 0 102px rgba(105, 105, 105, 0.699);
  }
  100% {
    -webkit-box-shadow: 0 0 0 220px #1d1e20, 0 0 0 222px rgba(105, 105, 105, 0), 0 0 0 290px #1d1e20, 0 0 0 292px rgba(255, 255, 255, 0), 0 0 0 340px #1d1e20, 0 0 0 342px rgba(105, 105, 105, 0), 0 0 0 390px #1d1e20, 0 0 0 392px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 220px #1d1e20, 0 0 0 222px rgba(105, 105, 105, 0), 0 0 0 290px #1d1e20, 0 0 0 292px rgba(255, 255, 255, 0), 0 0 0 340px #1d1e20, 0 0 0 342px rgba(105, 105, 105, 0), 0 0 0 390px #1d1e20, 0 0 0 392px rgba(255, 255, 255, 0);
  }
}

@keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 30px #1d1e20, 0 0 0 32px rgba(105, 105, 105, 0.699), 0 0 0 50px #1d1e20, 0 0 0 52px rgba(105, 105, 105, 0.699), 0 0 0 80px #1d1e20, 0 0 0 82px rgba(105, 105, 105, 0.699), 0 0 0 100px #1d1e20, 0 0 0 102px rgba(105, 105, 105, 0.699);
            box-shadow: 0 0 0 30px #1d1e20, 0 0 0 32px rgba(105, 105, 105, 0.699), 0 0 0 50px #1d1e20, 0 0 0 52px rgba(105, 105, 105, 0.699), 0 0 0 80px #1d1e20, 0 0 0 82px rgba(105, 105, 105, 0.699), 0 0 0 100px #1d1e20, 0 0 0 102px rgba(105, 105, 105, 0.699);
  }
  100% {
    -webkit-box-shadow: 0 0 0 220px #1d1e20, 0 0 0 222px rgba(105, 105, 105, 0), 0 0 0 290px #1d1e20, 0 0 0 292px rgba(255, 255, 255, 0), 0 0 0 340px #1d1e20, 0 0 0 342px rgba(105, 105, 105, 0), 0 0 0 390px #1d1e20, 0 0 0 392px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 220px #1d1e20, 0 0 0 222px rgba(105, 105, 105, 0), 0 0 0 290px #1d1e20, 0 0 0 292px rgba(255, 255, 255, 0), 0 0 0 340px #1d1e20, 0 0 0 342px rgba(105, 105, 105, 0), 0 0 0 390px #1d1e20, 0 0 0 392px rgba(255, 255, 255, 0);
  }
}

section.solutions .wrapper .mobile-app .phone {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 550px;
  background-image: url(../images/misc/phone_1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

section.solutions .wrapper .text p.sec-desc {
  text-align: left;
}

section.solutions .wrapper .text p.sec-heading {
  text-align: left;
}

section.solutions .wrapper .text p.sec-heading::after {
  left: 30px;
}

section.ourgoal .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
}

section.ourgoal .wrapper .text p.sec-desc {
  text-align: left;
}

section.ourgoal .wrapper .text p.sec-heading {
  text-align: left;
}

section.ourgoal .wrapper .text p.sec-heading::after {
  left: 30px;
}

section.ourgoal .wrapper .og-laptop {
  width: 100%;
  min-height: 320px;
  max-height: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/misc/note_1.png);
  background-size: contain;
}

section.worldmap {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/misc/map.jpg);
}

section.worldmap .percentages {
  margin-bottom: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 25px;
}

section.worldmap .percentages .percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.worldmap .percentages .percent p.num {
  font-family: robotoSlab;
  font-weight: bolder;
  font-size: 3em;
  color: #FFAA00;
  padding-right: 18px;
}

section.worldmap .percentages .percent p.text {
  font-size: 0.88em;
}

section.roadmap .wrapper .r-negative-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-bottom: 60px;
}

section.roadmap .wrapper .r-negative-cont div {
  padding: 50px 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.roadmap .wrapper .r-negative-cont div p.text {
  font-size: 0.85em;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

section.roadmap .wrapper .r-negative-cont div p.num {
  font-family: robotoSlab;
  font-weight: 500;
  font-size: 3.2em;
  width: 100%;
  text-align: center;
}

section.roadmap .wrapper .r-negative-cont .left {
  background-image: url(../images/misc/container-back.jpg);
}

section.roadmap .wrapper .r-negative-cont .right {
  background-image: url(../images/misc/silver-back.jpg);
}

section.roadmap .wrapper .roadmap-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
  position: relative;
  /*Ovde smo horizontalno postavili divove(roadmap-line) u kojima se nalazi sadrzaj*/
}

section.roadmap .wrapper .roadmap-container .roadmap-line {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
}

section.roadmap .wrapper .roadmap-container .roadmap-line .text {
  padding: 0px;
}

section.roadmap .wrapper .roadmap-container .roadmap-line .text .white-container {
  height: 100%;
  padding: 27px 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

section.roadmap .wrapper .roadmap-container .roadmap-line .text .white-container p.first {
  font-size: 1.1em;
  padding-bottom: 10px;
  color: #1d1e20;
}

section.roadmap .wrapper .roadmap-container .roadmap-line .text .white-container p.second {
  font-size: 0.9em;
  font-weight: lighter;
  line-height: 140%;
  color: #797b80;
}

section.roadmap .wrapper .roadmap-container .roadmap-line .center-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

section.roadmap .wrapper .roadmap-container .roadmap-line .center-icon img {
  width: 60px;
}

section.roadmap .wrapper .roadmap-container .roadmap-line .desc p.month {
  font-size: 0.75em;
}

section.roadmap .wrapper .roadmap-container .roadmap-line .desc p.year {
  font-size: 2.6em;
  font-weight: bolder;
}

section.roadmap .wrapper .roadmap-container .rl1 .text, section.roadmap .wrapper .roadmap-container .rl2 .text {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

section.roadmap .wrapper .roadmap-container .rl1 .desc, section.roadmap .wrapper .roadmap-container .rl2 .desc {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

section.team .wrapper .team-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
}

section.team .wrapper .team-grid .t-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section.team .wrapper .team-grid .t-member .photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.team .wrapper .team-grid .t-member p.name {
  font-family: robotoSlab;
  font-weight: 500;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  padding: 20px 0;
}

section.team .wrapper .team-grid .t-member p.desc {
  color: #797b80;
  font-size: 0.8em;
  line-height: 160%;
}

section.team .wrapper .team-grid .t-member:nth-of-type(1) .photo {
  background-image: url(../images/profiles/p1.jpg);
}

section.team .wrapper .team-grid .t-member:nth-of-type(2) .photo {
  background-image: url(../images/profiles/p6.jpg);
}

section.team .wrapper .team-grid .t-member:nth-of-type(3) .photo {
  background-image: url(../images/profiles/p3.jpg);
}

section.team .wrapper .team-grid .t-member:nth-of-type(4) .photo {
  background-image: url(../images/profiles/p4.jpg);
}

section.team .wrapper .team-grid .t-member:nth-of-type(5) .photo {
  background-image: url(../images/profiles/p5.jpg);
}

section.team .wrapper .team-grid .t-member:nth-of-type(6) .photo {
  background-image: url(../images/profiles/p2.jpg);
}

section.team .wrapper .team-grid .t-member:nth-of-type(7) .photo {
  background-image: url(../images/profiles/p7.jpg);
}

section.team .wrapper .team-grid .t-member:nth-of-type(8) .photo {
  background-image: url(../images/profiles/p8.jpg);
}

section.advisory .wrapper .profiles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
}

section.advisory .wrapper .profiles .p-member {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

section.advisory .wrapper .profiles .p-member .photo {
  background-color: chocolate;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.advisory .wrapper .profiles .p-member p.name {
  font-family: robotoSlab;
  font-weight: 500;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

section.advisory .wrapper .profiles .p-member p.desc {
  color: #797b80;
  font-size: 0.8em;
  line-height: 160%;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

section.advisory .wrapper .profiles .p-member p.social {
  width: 100%;
  text-align: center;
  color: #FFAA00;
  letter-spacing: 1px;
  font-size: 0.85em;
}

section.advisory .wrapper .profiles .p-member p.social i {
  cursor: pointer;
}

section.advisory .wrapper .profiles .p-member:nth-of-type(1) .photo {
  background-image: url(../images/profiles/p9.jpg);
}

section.advisory .wrapper .profiles .p-member:nth-of-type(2) .photo {
  background-image: url(../images/profiles/p10.jpg);
}

section.advisory .wrapper .profiles .p-member:nth-of-type(3) .photo {
  background-image: url(../images/profiles/p11.jpg);
}

section.news .wrapper .news-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
}

section.news .wrapper .news-grid .news-cont {
  position: relative;
  width: 100%;
  height: 220px;
}

section.news .wrapper .news-grid .news-cont .flipper {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

section.news .wrapper .news-grid .news-cont:hover .flipper {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

section.news .wrapper .news-grid .news-cont .news-logo {
  width: 100%;
  background-image: url(../images/news-icons/logo-editor-1-2-340x100.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 40px;
}

section.news .wrapper .news-grid .news-cont .back {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  -webkit-transform: translate3d(0, 0, -60px) rotateZ(180deg) rotateY(180deg);
          transform: translate3d(0, 0, -60px) rotateZ(180deg) rotateY(180deg);
}

section.news .wrapper .news-grid .news-cont .back p.desc {
  text-align: center;
  font-size: 0.85em;
  line-height: 160%;
  color: lightgray;
}

section.news .wrapper .news-grid .news-cont .back a {
  color: #fff;
}

section.news .wrapper .news-grid .news-cont .mid {
  width: 100%;
  height: 100%;
  background-color: #0049a8;
  -webkit-transform: translate3d(0, 0, 0px);
          transform: translate3d(0, 0, 0px);
}

section.news .wrapper .news-grid .news-cont .front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translate3d(0, 0, 60px);
          transform: translate3d(0, 0, 60px);
}

section.news .wrapper .news-grid .news-cont .front p.desc {
  font-family: robotoSlab;
  font-weight: 500;
  text-align: center;
  font-size: 1.25em;
  line-height: 160%;
}

section.token .wrapper {
  overflow: hidden;
}

section.token .wrapper .token-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 30px;
}

section.token .wrapper .token-grid .table-container {
  overflow: hidden;
}

section.token .wrapper .token-grid .table-container table {
  font-size: 0.9em;
  width: 100%;
}

section.token .wrapper .token-grid .table-container table tr {
  text-align: left;
}

section.token .wrapper .token-grid .table-container table tr:nth-of-type(odd) {
  background-color: #303030;
}

section.token .wrapper .token-grid .table-container table th, section.token .wrapper .token-grid .table-container table td {
  padding: 15px 0;
}

section.token .wrapper .token-grid .table-container table th {
  padding-left: 15px;
  width: 150px;
  color: #afafaf;
}

section.token .wrapper .token-grid .info p.heading {
  font-size: 1.1em;
  font-family: robotoSlab;
  font-weight: 500;
}

section.token .wrapper .token-grid .info .payments {
  width: 100%;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.token .wrapper .token-grid .info .payments .pay {
  width: 55px;
  height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.192);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px;
  background-color: #1b1b1b;
  cursor: pointer;
}

section.token .wrapper .token-grid .info .payments .pay img {
  height: 100%;
  width: auto;
}

section.token .wrapper .token-grid .info p.heading2 {
  font-size: 1.1em;
  font-family: robotoSlab;
  font-weight: 500;
}

section.token .wrapper .token-grid .info p.desc {
  font-size: 0.9em;
  color: #797b80;
  padding: 30px 0;
  line-height: 150%;
}

section.token .wrapper a.button {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  padding: 13px 27px;
  border: 2px solid #0048a8;
  border-radius: 30px;
  font-weight: bolder;
  font-size: 0.85em;
  color: #fff;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #0048a8;
}

section.token .wrapper a.button:hover {
  background-color: transparent;
}

section.howbuy {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/misc/blue_background.jpg);
  padding: 70px 0;
}

section.howbuy .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
}

section.howbuy .wrapper .text p.sec-desc, section.howbuy .wrapper .text p.sec-heading {
  text-align: left;
}

section.howbuy .wrapper .text p.sec-heading::after {
  left: 30px;
}

section.howbuy .wrapper .text p.desc {
  font-size: 0.8em;
  line-height: 160%;
  color: #a7a7a7;
  padding-bottom: 30px;
}

section.howbuy .wrapper .chart-div .chart-main {
  width: 100%;
  margin-bottom: 20px;
}

section.howbuy .wrapper .chart-div .chart-main .test-kruga {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: orangered;
  margin: 0 auto;
}

section.howbuy .wrapper .chart-div .chart-main canvas {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 250px;
}

section.howbuy .wrapper .chart-div .add-info ul {
  width: 100%;
}

section.howbuy .wrapper .chart-div .add-info ul li {
  width: 100%;
  height: 30px;
  font-size: 0.85em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

section.howbuy .wrapper .chart-div .add-info ul li .circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: orangered;
  margin-right: 11px;
}

section.howbuy .wrapper .chart-div .add-info ul li:nth-of-type(1) .circle {
  background-color: #FF6384;
}

section.howbuy .wrapper .chart-div .add-info ul li:nth-of-type(2) .circle {
  background-color: #36A2EB;
}

section.howbuy .wrapper .chart-div .add-info ul li:nth-of-type(3) .circle {
  background-color: #FFCD56;
}

section.howbuy .wrapper .chart-div .add-info ul li:nth-of-type(4) .circle {
  background-color: #FF9063;
}

section.howbuy .wrapper .chart-div .add-info ul li:nth-of-type(5) .circle {
  background-color: #B97EBB;
}

section.cryptohistory .wrapper .charts {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 30px;
}

/*General Responsive*/
@media only screen and (min-width: 768px) {
  .wrapper {
    max-width: 760px;
  }
  p.sec-desc {
    font-size: 1.2em;
  }
  p.sec-heading {
    font-size: 2.3em;
  }
  section.home-top {
    padding-top: 110px;
    padding-bottom: 40px;
  }
  section.home-top #particles-js {
    display: inline;
  }
  section.home-top .ht-main .main-text {
    max-width: 500px;
  }
  section.home-top .ht-main .main-text h1 {
    font-size: 2.5em;
  }
  section.home-top .timer-container {
    max-width: 400px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  section.about .about-sq {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.about .about-inner .text .icons {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.testimonials .wrapper .partner {
    min-width: 33%;
  }
  section.solutions .wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.solutions .wrapper .mobile-app .absolute-radio .center {
    left: 205px;
  }
  section.ourgoal .wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.worldmap .percentages {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.roadmap .wrapper .r-negative-cont {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.roadmap .wrapper .roadmap-container {
    gap: 50px;
  }
  section.roadmap .wrapper .roadmap-container::after {
    content: '';
    width: 20px;
    height: 920px;
    background-image: url(../images/misc/circles.png);
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center;
    position: absolute;
    z-index: -2;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  section.roadmap .wrapper .roadmap-container .roadmap-line {
    -ms-grid-columns: 1fr 80px 1fr;
        grid-template-columns: 1fr 80px 1fr;
  }
  section.roadmap .wrapper .roadmap-container .rl1 .text {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  section.roadmap .wrapper .roadmap-container .rl1 .center-icon {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column-align: top;
        justify-self: top;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.roadmap .wrapper .roadmap-container .rl1 .desc {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
  }
  section.roadmap .wrapper .roadmap-container .rl2 .text {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  section.roadmap .wrapper .roadmap-container .rl2 .center-icon {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column-align: top;
        justify-self: top;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.roadmap .wrapper .roadmap-container .rl2 .desc {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
  section.team .wrapper .team-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  section.advisory .wrapper .profiles {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  section.news .wrapper .news-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  section.news .wrapper .news-grid .news-cont .front p.desc {
    font-size: 1.1em;
  }
  section.token .wrapper .token-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.howbuy .wrapper .chart-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.howbuy .wrapper .chart-div .add-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.cryptohistory .wrapper .charts {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  footer .wrapper .top {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media only screen and (min-width: 1100px) {
  header.responsive {
    display: none;
  }
  header.main-res {
    background-color: rgba(24, 24, 24, 0.616);
    position: fixed;
    left: 0;
    height: 200px;
    width: 100%;
    overflow: hidden;
  }
  header.main-res .preheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.85em;
  }
  header.main-res .preheader .info-bar {
    width: 190px;
  }
  header.main-res .main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.main-res .main-header img {
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
  header.main-res .main-header nav {
    min-width: 500px;
    position: relative;
    top: -16px;
  }
  header.main-res .main-header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header.main-res .main-header nav ul li {
    padding-right: 30px;
  }
  header.main-res .main-header nav ul li a {
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  header.main-res .main-header nav ul li a:hover {
    color: #FFAA00;
  }
  section {
    margin: 100px 0;
  }
  .wrapper {
    max-width: 1100px;
  }
  section.home-top {
    padding-top: 300px;
  }
  section.home-top .ht-main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.home-top .ht-main .main-text {
    max-width: 100%;
  }
  section.about .wrapper .about-sq {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    background: transparent;
  }
  section.about .wrapper .about-sq .a-square {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/misc/container-back.jpg);
  }
  section.about .wrapper .about-inner {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-size: 170%;
  }
  section.about .wrapper .about-inner .video {
    position: relative;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/misc/image-layout-ico.jpg);
    padding: 20px;
    border: none;
  }
  section.about .wrapper .about-inner .video .play {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  section.about .wrapper .about-inner .video .play:hover p.h {
    color: #FFAA00;
  }
  section.about .wrapper .about-inner .video .play img {
    width: 50px;
    margin-right: 15px;
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  section.about .wrapper .about-inner .video .play .right p.h {
    font-family: robotoSlab;
    font-weight: 500;
    font-size: 1.2em;
    padding-bottom: 5px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  section.about .wrapper .about-inner .video .play .right p.d {
    color: #bbbbbb;
    font-size: 0.7em;
  }
  section.testimonials .wrapper {
    overflow: hidden;
  }
  section.testimonials .wrapper .partner {
    min-width: 20%;
  }
  section.solutions .wrapper .mobile-app .absolute-radio .center {
    left: 285px;
  }
  section.solutions .wrapper .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*
    section.ourgoal{

    }
    */
  section.worldmap {
    padding: 50px 0;
    margin-bottom: 50px;
  }
  section.worldmap .wrapper .percentages .percent {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.roadmap {
    margin-top: 50px;
  }
  section.roadmap .wrapper .roadmap-container {
    gap: 80px;
    max-width: 900px;
    margin: 0 auto;
  }
  section.roadmap .wrapper .roadmap-container::after {
    height: 960px;
  }
  section.team .wrapper .team-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
  }
  section.news .wrapper .news-grid .front p.desc {
    padding: 0 20px;
  }
  section.howbuy .wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.cryptohistory .wrapper .charts {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */