/*Import other files*/
@import './fonts';
@import './blocks';
@import './colors';

/*General Rules*/
body{
    background-color: $bodyBackground;
    color:#fff;
    font-family: roboto;
    a{
        text-decoration: none;
        color:orange;
    }
}
header{
    z-index: 5;
    background-color: #141416;
    &.responsive{
        padding:10px 20px;
        //border:1px solid white;
        min-height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img.logo{
            width: 170px;
        }
        img.res{
            width: 25px;
            transition: all 0.1s;
            cursor: pointer;
            &:hover{
                width: 27px;
            }
        }
        @keyframes xanimshow {
            0%{transform: rotateX(0deg)}
            50%{transform: rotateX(90deg)}
            100%{transform: rotateX(0deg)}
        }
        img.x-anim-show{
            animation: xanimshow 0.8s;
        }
    }

    &.main-res{
        background-color: $headerBackground;
        position:fixed;
        left: -270px;
        top:0;
        width: 270px;
        height: 100vh;
        padding:0 20px;
        overflow-y: auto;
        transition: all 0.2s;
        .preheader{
            border-bottom:1px solid rgb(83, 83, 83);
            display: grid;
            padding: 15px 0;
            grid-template-columns: 1fr;
            gap:15px;
            .info-bar{
                //border:1px solid blue;
                line-height: 130%;
                position: relative;
                p.crypto-name{
                    font-weight: bolder;
                    font-size: 0.9em;
                }
                p.crypto-data{
                    color:$descriptionText;
                    font-size: 0.8em;
                }
                span{
                    color:$greenText;
                }
                &:after{
                    content: '';
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    right: 15px;
                    top:50%;
                    transform: translateY(-50%);
                    @include backImg();
                }
                &:nth-of-type(1):after{
                    background-image: url(../images/coins-icons/bitcoin-btc-logo.png);
                }
                &:nth-of-type(2):after{
                    background-image: url(../images/coins-icons/ethereum-eth-logo.png);
                }
                &:nth-of-type(3):after{
                    background-image: url(../images/coins-icons/stellar-xlm-logo.png);
                }
                &:nth-of-type(4):after{
                    background-image: url(../images/coins-icons/bitcoin-cash-bch-logo.png);
                }
                &:nth-of-type(5):after{
                    background-image: url(../images/coins-icons/monero-xmr-logo.png);
                }
                &:nth-of-type(6):after{
                    background-image: url(../images/coins-icons/cardano-ada-logo.png);
                }
            }
        }
        .main-header{
            font-weight: 500;
            padding:30px 0;
            img{
                position: relative;
                left:50%;
                transform: translateX(-50%);
                width: 100%;
                max-width: 230px;
                padding-bottom: 30px;
            }
            nav{
                min-width: 100%;
                li{
                    padding:13px 0;
                }
                a{
                    color:#fff;
                }
            }
        }
    }
    &.show{
        left:0;
    }
    &.hide{
        left:-270px
    }
    &.main-desktop{
        background-color: blue;
    }
    /*Kasnije u JS treba da dodam klasu .main-desktop koja stilizuje heder ya desktop verziju a uklonim klasu .main-res*/
}
footer{
    background-color: #141416;
    padding-top:80px;
    .wrapper{
        .top{
            padding-bottom: 30px;
            border-bottom:1px solid $descriptionText;
            display: grid;
            grid-template-columns: 1fr;
            //border:1px solid red;
            img{
                width: 150px;
            }
            p.desc{
                font-size: 0.8em;
                line-height: 170%;
            }
            .desc{
                padding-bottom: 20px;
            }
            .newsletter{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 220px;
                p.bold{
                    font-family: robotoSlab;
                    font-weight: 500;
                    font-size: 1.3em;
                }
                p.silver{
                    font-size: 0.8em;
                    color:#7c7c7c;
                }
                input{
                    height: 35px;
                    background-color: transparent;
                    border:1px solid rgb(68, 68, 68);
                    padding-left: 10px;
                    &::placeholder{
                        font-weight: 500;
                        color:rgb(131, 128, 128);
                    }
                }

            }
        }
        .bottom{
            padding:20px 0;
            font-size: 0.75em;
            p{
                width: 100%;
                text-align: center;
                color:$descriptionText;
                line-height: 140%;
                a{
                    color:#FFAA00;
                }
            }
        }
    }
}
.wrapper{
    padding:0 20px;
    max-width: 420px;
    margin: 0 auto;
}
p{
    &.sec-desc{
        width: 100%;
        text-align: center;
        font-family: robotoSlab;
        font-weight: 500;
        color:rgb(170, 170, 170);
    }
    &.sec-heading{
        position: relative;
        width: 100%;
        text-align: center;
        padding:30px 0;
        font-family: robotoSlab;
        font-weight: 500;
        font-size: 1.7em;
        margin-bottom:50px;
        line-height: 130%;
        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left:50%;
            transform: translateX(-50%);
            height: 2px;
            width: 60px;
            background-color: #FFAA00;
        }
    }
    &.sec-white-desc{
        font-size: 0.9em;
        line-height: 180%;
        padding-bottom:40px;
    }
    &.sec-gray-desc{
        font-size: 0.9em;
        line-height: 150%;
        color: $descriptionText;
    }
}
section{
    margin:60px 0;
}
.preloader{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: #1d1e20;
    z-index: 99;
    &.preOff{
        animation: offer 5s linear 1;
    }
}
@keyframes offer{
    0%{
        opacity: 1;
    }
    15%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}



/*Current Page*/
section.home-top{
    position: relative;
    #particles-js{
        position: absolute;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -5;
        display: none;
    }
    margin-top: 0;
    .ht-main{
        //border:1px solid #fff;
        .main-text{
            //border: 1px solid blue;
            padding:20px 0;
            display:flex;
            flex-direction: column;
            align-items: left;
            h1{
                position: relative;
                padding-top:30px;
                font-size: 2.2em;
                font-family: robotoSlab;
                line-height: 120%;

                &:after{
                    content: '';
                    height: 100%;
                    width: 70px;
                    position: absolute;
                    top:0;
                    left:0;
                    right:0;
                    bottom: 0;
                    border-top:2px solid #FFAA00;
                }
            }
            p{
                padding:30px 0;
                line-height: 200%;
            }
            .buttons{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                a{
                    padding:13px 25px;
                    border:2px solid $buttonBlue;
                    border-radius: 30px;
                    font-weight: bolder;
                    font-size: 0.85em;
                    color:#fff;
                    transition: all 0.1s;
                    i{
                        padding-right: 8px;
                    }
                    &.left{
                        background-color: #0048a8;
                        &:hover{
                            background-color: transparent;
                        }
                    }
                    &.right:hover{
                        background-color: #0048a8;
                    }
                }
            }
        }
        .timer-container{
            //border:1px solid greenyellow;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding:30px 20px;
            margin:50px 0;
            width: 100%;
            @include backImg();
            background-image: url(../images/misc/timerback.png);
            border-radius: 3px;
            p.timer-h{
                font-size: 1.2em;
                font-family: robotoSlab;
                font-weight: 500;
            }
            .timer-main{
                margin:20px 0;
                width: 260px;
                display: grid;
                gap:10px;
                grid-template-columns: repeat(4,1fr);
                //border:1px solid red;

                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    //border:1px solid greenyellow;
                    border-radius: 5px;
                    background-color: rgb(247, 247, 247);
                    padding:10px 0;
                    p{
                        font-size: 2.4em;
                        font-weight: bolder;
                        padding-bottom: 5px;
                        color:#2e2e2e;
                    }
                    span{
                        color:rgb(195, 193, 206);
                        font-size: 0.8em;
                        color:#3d3d3d;
                    }
                }
                
            }
            a{
                padding:15px 30px;
                color:#fff;
                background-color: $buttonBlue;
                border: 2px solid transparent;
                border-radius: 30px;
                margin: 10px 0 30px 0;
                font-size: 0.8em;
                font-family: robotoSlab;
                transition: all 0.1s;
                &:hover{
                    background-color: transparent;
                    border:2px solid $buttonBlue;
                }
            }
            .payments{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                .pay{
                    //border:1px solid white;
                    width: 65px;
                    height: 37px;
                    border: 1px solid rgba(255, 255, 255, 0.192);
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding:7px;
                    background-color: #1b1b1b;
                    cursor: pointer;
                    img{
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
    }
}

section.about{
    .about-sq{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 70px;
        @include backImg();
        background-image: url(../images/misc/container-back.jpg);
        .a-square{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            //border:2px solid red;
            padding:40px;
            text-align: center;
            i{
                font-size: 2.2em;
            }
            p.head{
                padding:18px 0;
                font-family: robotoSlab;
                font-weight: 900;
                letter-spacing: 0.2px;
            }
            p.desc{
                font-size: 0.8em;
            }
        }
    }
    
    .about-inner{
        min-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        @include backImg();
        background-image: url(../images/misc/stmx_bg.jpg);
        background-size: 380%;
        background-position: left;
        .text{
            //border:1px solid red;
            p.about-inner-heading{
                margin-bottom: 70px;
                font-family: robotoSlab;
                font-weight: 500;
                font-size: 0.95em;
                line-height: 200%;
            }
            p.about-inner-desc{
                margin-bottom: 40px;
                font-size: 0.9em;
                line-height: 170%;
            }
            .icons{
                display: grid;
                grid-template-columns: 1fr;
                gap:11px;
                i{
                    color:#FFAA00;
                    padding-right: 10px;
                }
            }
        }
        .video{
            display: none;
            border: 1px solid yellow;
        }
    }
}

section.testimonials{
    height: 170px;
    padding:30px 0;
    border-top:2px solid rgba(83, 83, 83, 0.459);
    border-bottom:2px solid rgba(83, 83, 83, 0.459);
    overflow:hidden;
    .wrapper{
        height: 100%;
        width: 100%;
        /*
        display: flex;
        
        overflow-x: auto;
        scroll-snap-type: x mandatory;

        scroll-behavior: smooth;
        */
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar{
            height: 1px;
            width: 1px;
        }
        .partner{
            //border:1px solid #FFAA00;
            height: 100%;
            min-width: 50%;
            scroll-snap-align: start;
            @include backImg();
            background-size: contain;
        }
        .partner:nth-of-type(1){
            background-image: url(../images/testimonials/logo-partner-1.png);
        }
        .partner:nth-of-type(2){
            background-image: url(../images/testimonials/logo-partner-2.png);
        }
        .partner:nth-of-type(3){
            background-image: url(../images/testimonials/logo-partner-3.png);
        }
        .partner:nth-of-type(4){
            background-image: url(../images/testimonials/logo-partner-4.png);
        }
        .partner:nth-of-type(5){
            background-image: url(../images/testimonials/logo-partner-5.png);
        }
    }
}

section.solutions{
    .wrapper{
        position:relative;
        display:grid;
        grid-template-columns: 1fr;
        //1FR 1FR

        .mobile-app{
            //border:1px solid orangered;
            height: 650px;
            .absolute-radio{
                position:absolute;
                width: 100%;
                left:0;
                /* isto kao i roditeljski element visina */
                height: 650px;
                z-index: -5;
                //border:1px solid greenyellow;
                .center{
                    position: relative;
                    width: 10px;
                    height: 10px;
                    //background-color: honeydew;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    border-radius: 50%;
                    animation:ripple 2000ms infinite linear;
                }
                @keyframes ripple {
                    0%{
                        box-shadow: 0 0 0 30px #1d1e20, 0 0 0 32px rgba(105, 105, 105, 0.699), 0 0 0 50px #1d1e20, 0 0 0 52px rgba(105, 105, 105, 0.699),0 0 0 80px #1d1e20, 0 0 0 82px rgba(105, 105, 105, 0.699), 0 0 0 100px #1d1e20, 0 0 0 102px rgba(105, 105, 105, 0.699);
                    }
                    100%{
                        box-shadow: 0 0 0 220px #1d1e20, 0 0 0 222px rgba(105, 105, 105, 0), 0 0 0 290px #1d1e20, 0 0 0 292px rgba(255, 255, 255, 0), 0 0 0 340px #1d1e20, 0 0 0 342px rgba(105, 105, 105, 0), 0 0 0 390px #1d1e20, 0 0 0 392px rgba(255, 255, 255, 0);
                    }
                    
                }
            }
            .phone{
                position: relative;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                //border:1px solid blue;
                width: 90%;
                height: 550px;
                background-image: url(../images/misc/phone_1.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;

            }

        }
        .text{
            p.sec-desc{
                text-align: left;
            }
            p.sec-heading{
                text-align: left;
                &::after{
                    left: 30px;
                }
            }
            
        }
    }
}

section.ourgoal{
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap:20px;
        //1FR 1FR
        .text{
            p.sec-desc{
                text-align: left;
            }
            p.sec-heading{
                text-align: left;
                &::after{
                    left: 30px;
                }
            }
        }
        .og-laptop{
            width: 100%;
            min-height: 320px;
            max-height: 420px;
            //border:1px solid orange;
            @include backImg();
            background-image: url(../images/misc/note_1.png);
            background-size: contain;
        }
    }
}

section.worldmap{
    @include backImg;
    background-image: url(../images/misc/map.jpg);
    .percentages{
        //border:1px solid orange;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr;
        gap:25px;
        //1fr 1fr
        .percent{
            display: flex;
            flex-direction: row;
            align-items: center;
            //border:1px solid blue;
            p.num{
                font-family: robotoSlab;
                font-weight: bolder;
                font-size: 3em;
                color:#FFAA00;
                padding-right: 18px;
            }
            p.text{
                font-size: 0.88em;
            }
        }
    }
}

section.roadmap{
    .wrapper{
        .r-negative-cont{
            //Pozicionirati preko absolutne pozicije
            display: grid;
            grid-template-columns: 1fr;
            //1fr 1fr
            margin-bottom: 60px;
            div{
                padding:50px 15px;
                @include backImg;
                p.text{
                    font-size: 0.85em;
                    font-weight: bolder;
                    width: 100%;
                    text-align: center;
                    padding-bottom: 20px;
                }
                p.num{
                    font-family: robotoSlab;
                    font-weight: 500;
                    font-size: 3.2em;
                    width: 100%;
                    text-align: center;
                }
            }
            .left{
                background-image: url(../images/misc/container-back.jpg);
            }
            .right{
                background-image: url(../images/misc/silver-back.jpg);
            }
        }
        .roadmap-container{
            display: grid;
            grid-template-columns: 1fr;
            gap:20px;
            position: relative;
            /*Ovde smo horizontalno postavili divove(roadmap-line) u kojima se nalazi sadrzaj*/
            .roadmap-line{
                //border:1px solid orangered;
                position: relative;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap:20px;
                .text{
                    //padding:10px;
                    padding:0px;
                    .white-container{
                        height: 100%;
                        padding:27px 20px;
                        background-color: #ffffff;
                        border-radius: 5px;
                        p.first{
                            font-size: 1.1em;
                            padding-bottom: 10px;
                            color:#1d1e20;
                        }
                        p.second{
                            font-size: 0.9em;
                            font-weight: lighter;
                            line-height: 140%;
                            color:$descriptionText;
                        }
                    }
                }
                .center-icon{
                    display: flex;
                    justify-content: right;
                    img{
                        width: 60px;
                    }
                }
                .desc{
                    p.month{
                        font-size: 0.75em;
                    }
                    p.year{
                        font-size: 2.6em;
                        font-weight: bolder;
                    }
                }
            }


            .rl1, .rl2{
                .text{
                    grid-row-start: 2;
                    grid-row-end: 3;
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
                .desc{
                    grid-row-start: 1;
                    grid-row-end: 2;
                } 
            }




        }
    }
}

section.team{
    .wrapper{
        .team-grid{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:20px;
            //1fr 1fr 1fr 1fr
            .t-member{
                //border:1px solid red;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                .photo{
                    //border:1px solid blue;
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    @include backImg;
                    
                }
                p.name{
                    font-family: robotoSlab;
                    font-weight: 500;
                    font-size: 1.1em;
                    letter-spacing: 0.5px;
                    padding:20px 0;
                }
                p.desc{
                    color:$descriptionText;
                    font-size: 0.8em;
                    line-height: 160%;
                }
                //Background photos
                &:nth-of-type(1){
                    .photo{
                        background-image: url(../images/profiles/p1.jpg);
                    }
                }
                &:nth-of-type(2){
                    .photo{
                        background-image: url(../images/profiles/p6.jpg);
                    }
                }
                &:nth-of-type(3){
                    .photo{
                        background-image: url(../images/profiles/p3.jpg);
                    }
                }
                &:nth-of-type(4){
                    .photo{
                        background-image: url(../images/profiles/p4.jpg);
                    }
                }
                &:nth-of-type(5){
                    .photo{
                        background-image: url(../images/profiles/p5.jpg);
                    }
                }
                &:nth-of-type(6){
                    .photo{
                        background-image: url(../images/profiles/p2.jpg);
                    }
                }
                &:nth-of-type(7){
                    .photo{
                        background-image: url(../images/profiles/p7.jpg);
                    }
                }
                &:nth-of-type(8){
                    .photo{
                        background-image: url(../images/profiles/p8.jpg);
                    }
                }
            }
        }
    }
}

section.advisory{
    .wrapper{
        .profiles{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:20px;
            .p-member{
                //border: 1px solid greenyellow;
                display: grid;
                grid-template-columns: 1fr;
                //grid-template-columns: 60px 1fr
                .photo{
                    background-color: chocolate;
                    width: 140px;
                    height: 140px;
                    border-radius: 50%;
                    margin:0 auto;
                    @include backImg;
                }
                p.name{
                    font-family: robotoSlab;
                    font-weight: 500;
                    width: 100%;
                    text-align: center;
                    padding:20px 0;
                }
                p.desc{
                    color:$descriptionText;
                    font-size: 0.8em;
                    line-height: 160%;
                    width: 100%;
                    text-align: center;
                    padding-bottom: 20px;
                }
                p.social{
                    width: 100%;
                    text-align: center;
                    color:#FFAA00;
                    letter-spacing: 1px;
                    font-size: 0.85em;
                    i{
                        cursor: pointer;
                    }
                }
                &:nth-of-type(1){
                    .photo{
                        background-image: url(../images/profiles/p9.jpg);
                    }
                }
                &:nth-of-type(2){
                    .photo{
                        background-image: url(../images/profiles/p10.jpg);
                    }
                }
                &:nth-of-type(3){
                    .photo{
                        background-image: url(../images/profiles/p11.jpg);
                    }
                }
            }
        }
    }
}

section.news{
    .wrapper{
        .news-grid{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            gap:20px;
            //1fr 1fr 1fr
            .news-cont{
                //border:1px solid red;
                position: relative;
                width: 100%;
                height: 220px;
                //transform: rotateX(70deg);
                .flipper{
                    width: 100%;
                    height: 100%;
                    transition: all 0.7s ;
                    transform-style: preserve-3d;
                }
                &:hover{
                    .flipper{
                        transform: rotateX(180deg);

                    }
                }
                .news-logo{
                    width: 100%;
                    background-image: url(../images/news-icons/logo-editor-1-2-340x100.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    height: 40px;
                }
                .back{
                    //border:2px solid yellow;
                    //Layout
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    //Box model
                    height: 100%;
                    width: 100%;
                    padding:20px;
                    transform:translate3d(0,0,-60px) rotateZ(180deg) rotateY(180deg);
                    //Typography
                    p.desc{
                        text-align: center;
                        font-size: 0.85em;
                        line-height: 160%;
                        color:rgb(211, 211, 211);
                    }
                    a{
                        color:#fff;
                    }
                    //Misc Properties
                }
                .mid{
                    width: 100%;
                    height: 100%;
                    background-color: #0049a8;
                    transform:translate3d(0,0,0px);
                }

                .front{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top:0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    transform:translate3d(0,0,60px);
                    p.desc{
                        font-family: robotoSlab;
                        font-weight: 500;
                        text-align: center;
                        font-size: 1.25em;
                        line-height: 160%;
                    }
                }
            }
        }
    }
}

section.token{
    .wrapper{
        overflow: hidden;
        .token-grid{
            display: grid;
            grid-template-columns: 1fr;
            gap:30px;
            //1fr 1fr
            .table-container{
                overflow:hidden;
                table{
                    //border: 1px solid red;
                    font-size: 0.9em;
                    //max-width: 335px;
                    width: 100%;
                    tr{
                        text-align: left;
                        &:nth-of-type(odd){
                            background-color: #303030;
                        }
                    }
                    th,td{
                        padding: 15px 0;
                    }
                    th{
                        padding-left: 15px;
                        width: 150px;
                        color:#afafaf;
                    }
                }
                
            }
            .info{
                //border:1px solid red;
                p.heading{
                    font-size: 1.1em;
                    font-family: robotoSlab;
                    font-weight: 500;
                }
                .payments{
                    width: 100%;
                    padding:25px 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    .pay{
                        //border:1px solid white;
                        width: 55px;
                        height: 32px;
                        border: 1px solid rgba(255, 255, 255, 0.192);
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding:7px;
                        background-color: #1b1b1b;
                        cursor: pointer;
                        img{
                            height: 100%;
                            width: auto;
                        }
                    }
                }
                p.heading2{
                    font-size: 1.1em;
                    font-family: robotoSlab;
                    font-weight: 500;
                }
                p.desc{
                    font-size: 0.9em;
                    color:$descriptionText;
                    padding: 30px 0;
                    line-height: 150%;
                }
            }
            
        }
        a.button{
            position: relative;
            left:50%;
            transform: translateX(-50%);
            display: inline-block;
            padding:13px 27px;
            border:2px solid $buttonBlue;
            border-radius: 30px;
            font-weight: bolder;
            font-size: 0.85em;
            color:#fff;
            transition: all 0.1s;
            background-color: #0048a8;
            &:hover{
                    background-color: transparent;
                
            }
        }
    }
}

section.howbuy{
    @include backImg;
    background-image: url(../images/misc/blue_background.jpg);
    padding:70px 0;
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        //1fr 1fr ili 150px 1fr
        gap:20px;
        .text{
            p.sec-desc, p.sec-heading{
                text-align: left;
            }
            p.sec-heading::after{
                left:30px;
            }
            p.desc{
                font-size: 0.8em;
                line-height: 160%;
                color:#a7a7a7;
                padding-bottom: 30px;
            }
        }
        .chart-div{
            .chart-main{
                width: 100%;
                margin-bottom: 20px;
                .test-kruga{
                    width: 230px;
                    height: 230px;
                    border-radius: 50%;
                    background-color: orangered;
                    margin:0 auto;

                }
                canvas{
                    position: relative;
                    left:50%;
                    transform: translateX(-50%);
                    width: 100%;
                    height: 250px;
                }
            }
            .add-info{
                ul {
                    width: 100%;
                    li{
                        width: 100%;
                        height: 30px;
                        font-size: 0.85em;
                        display:flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: left;
                        .circle{
                            width: 14px;
                            height: 14px;
                            border-radius: 50%;
                            background-color: orangered;
                            margin-right: 11px;
                        }
                        &:nth-of-type(1){
                                .circle{
                                    background-color: #FF6384;
                            }
                        }
                        &:nth-of-type(2){
                            .circle{
                                background-color: #36A2EB;
                            }
                        }
                        &:nth-of-type(3){
                            .circle{
                                background-color: #FFCD56;
                            }
                        }
                        &:nth-of-type(4){
                            .circle{
                                background-color: #FF9063;
                            }
                        }
                        &:nth-of-type(5){
                            .circle{
                                background-color: #B97EBB;
                            }
                        }
                        
                    }
                    
                }
            }
        }
    }
}

section.cryptohistory{
    .wrapper{
        .charts{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            gap:30px;
            //canvas{}
        }
    }
}
/*General Responsive*/


//Tabletino
@media only screen and (min-width:768px){
    .wrapper{
        max-width: 760px;
    }

    p{
        &.sec-desc{
            font-size: 1.2em;
        }
        &.sec-heading{
            font-size: 2.3em;
        }
    }

    section.home-top{
        #particles-js{
            display: inline;
        }
        padding-top: 110px;
        padding-bottom: 40px;
        .ht-main{
            .main-text{
                max-width: 500px;
                h1{
                    font-size: 2.5em;
                }
            }
        }
        
        .timer-container{
            max-width: 400px;
            position: relative;
            left:50%;
            transform: translateX(-50%);
        }
    }

    section.about{
        .about-sq{
            grid-template-columns: 1fr 1fr;
        }
        .about-inner{
            .text{
                .icons{
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }

    section.testimonials{
        .wrapper{
            .partner{
                min-width: 33%;
            }
        }
    }

    section.solutions{
        .wrapper{
            grid-template-columns: 1fr 1fr;
            .mobile-app{
                .absolute-radio{
                    .center{
                        left:205px;
                    }
                }
            }
        }
    }

    section.ourgoal{
        .wrapper{
            grid-template-columns: 1fr 1fr;
        }
    }

    section.worldmap{
        .percentages{
            grid-template-columns: 1fr 1fr;
        }
    }

    section.roadmap{
        .wrapper{
            .r-negative-cont{
                grid-template-columns: 1fr 1fr;
            }
            .roadmap-container{
                &::after{
                    content: '';
                    width: 20px;
                    height: 920px;
                    background-image: url(../images/misc/circles.png);
                    background-repeat: repeat-y;
                    background-size: contain;
                    background-position: center;
                    position: absolute;
                    z-index: -2;
                    left:50%;
                    transform: translateX(-50%);
                }
                gap:50px;
                .roadmap-line{
                    grid-template-columns: 1fr 80px 1fr;
                }
                .rl1{
                    .text{
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }
                    .center-icon{
                        grid-column-start: 2;
                        grid-column-end: 3;
                        flex-direction: column;
                        justify-self: top;
                        align-items: center;
                    }
                    .desc{
                        grid-column-start: 3;
                        grid-column-end: 4;
                    }
                }

                .rl2{
                    .text{
                        grid-column-start: 3;
                        grid-column-end: 4;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }
                    .center-icon{
                        grid-column-start: 2;
                        grid-column-end: 3;
                        flex-direction: column;
                        justify-self: top;
                        align-items: center;
                    }
                    .desc{
                        grid-column-start: 1;
                        grid-column-end: 2;
                    }
                }
            }
        }
    }

    section.team{
        .wrapper{
            .team-grid{
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }

    section.advisory{
        .wrapper{
            .profiles{
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
    
    section.news{
        .wrapper{
            .news-grid{
                grid-template-columns: 1fr 1fr 1fr;
                .news-cont{
                    .front{
                        p.desc{
                            font-size: 1.1em;
                        }
                    }
                }
            }
        }
    }

    section.token{
        .wrapper{
            .token-grid{
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    section.howbuy{
        .wrapper{
            .chart-div{
                display: grid;
                grid-template-columns: 1fr 1fr;
                .add-info{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    section.cryptohistory{
        .wrapper{
            .charts{
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    footer{
        .wrapper{
            .top{
                grid-template-columns: 1fr 1fr;
                gap:30px;
            }
        }
    }
}
@media only screen and (min-width:1100px){
    header{
        &.responsive{
            display: none;
        }
        &.main-res{
            background-color: rgba(24, 24, 24, 0.616);
            position: fixed;
            left:0;
            height: 200px;
            width: 100%;
            overflow: hidden;
            .preheader{
                //border:1px solid red;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 0.85em;
                .info-bar{
                    width: 190px;
                }
            }
            .main-header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                img{
                    left:0;
                    transform: none;
                }
                nav{
                    min-width: 500px;
                    //border:1px solid red;
                    position: relative;
                    top:-16px;
                    ul{
                        display: flex;
                        flex-direction: row;
                        li{
                            padding-right: 30px;
                            a{
                                transition: all 0.1s;
                                &:hover{
                                    color:#FFAA00;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    section{
        margin:100px 0;
    }
    .wrapper{
        max-width: 1100px;
    }

    section.home-top{
        padding-top:300px;
        .ht-main{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .main-text{
                max-width: 100%;
            }
        }
    }

    section.about{
        .wrapper{
            .about-sq{
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap:20px;
                background: transparent;
                .a-square{
                    @include backImg;
                    background-image: url(../images/misc/container-back.jpg);
                }
            }
            .about-inner{
                grid-template-columns: 1fr 1fr;
                gap:20px;
                background-size: 170%;
                .video{
                    position: relative;
                    display: block;
                    @include backImg;
                    background-image: url(../images/misc/image-layout-ico.jpg);
                    padding:20px;
                    border:none;
                    .play{
                        position: absolute;
                        bottom: 30px;
                        left:30px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        &:hover{
                            p.h{
                                color:#FFAA00;
                            }
                        }
                        img{
                            width: 50px;
                            margin-right: 15px;
                            filter: invert(1);
                        }
                        .right{
                            p.h{
                                font-family: robotoSlab;
                                font-weight: 500;
                                font-size: 1.2em;
                                padding-bottom: 5px;
                                transition: all 0.2s;
                            }
                            p.d{
                                color:rgb(187, 187, 187);
                                font-size: 0.7em;
                            }
                        }
                    }
                }
            }
        }
    }

    section.testimonials{
        .wrapper{
            overflow: hidden;
            .partner{
                min-width: 20%;
            }
        }
    }

    section.solutions{
        .wrapper{
            .mobile-app{
                .absolute-radio{
                    .center{
                        left:285px;
                    }
                }
            }
            .text{
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
    /*
    section.ourgoal{

    }
    */

    section.worldmap{
        padding:50px 0;
        margin-bottom: 50px;
        .wrapper{
            .percentages{
                .percent{
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    section.roadmap{
        margin-top: 50px;
        .wrapper{
            .roadmap-container{
                gap:80px;
                max-width: 900px;
                margin: 0 auto;
                &::after{
                    height: 960px;
                }
            }
        }
    }

    section.team{
        .wrapper{
            .team-grid{
                grid-template-columns: 1fr 1fr 1fr 1fr ;
                gap:50px;
            }
        }
    }

    section.news{
        .wrapper{
            .news-grid{
                .front{
                    p.desc{
                        padding:0 20px;
                    }
                }
            }
        }
    }

    section.howbuy{
        .wrapper{
            grid-template-columns: 1fr 1fr;
        }
    }

    section.cryptohistory{
        .wrapper{
            .charts{
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}